Center {
    layout: horizontal;
}

Player {
    width: auto;
    text-align: center;
    text-align: center;
    border: round cyan; 
    background: red;
    padding: 0 0;
}

.has_ball{
    background: red
}

.column {
    width: 6;
}